body {
    background-image: url("/img/Bg/Bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blueviolet;
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
    position: relative;
    margin-top: 4%;
    margin-bottom: 4%;
}

#box {
    border: 4px solid rgb(132, 132, 179);
    padding: 2px;
    border-radius: 2px;
    background: radial-gradient(circle at 30% 30%, 
      /* Start color */  rgb(250, 249, 243), 
      /* End color */    rgba(255, 251, 241, 0.812));
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    min-width: 600px;
    min-height: 600px;

}
.half-flex {
    flex: 1;
}
.half-middle{
    flex: 0;
}
#content{
    background: radial-gradient(circle at 50% 50%, 
      /* Start color */  rgb(250, 249, 243), 
      /* End color */    rgba(255, 251, 241, 0.812));
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    min-width: 600px;
    min-height: 600px;
    padding: 2px;
}
#navigation{
    padding: 2px;
    background: radial-gradient(circle at 50% 50%, 
      /* Start color */  rgb(250, 249, 243), 
      /* End color */    rgba(255, 251, 241, 0.812));
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    min-width: 600px;
    min-height: 50px;
}
.no-bullets {
     list-style-type: none;
}
.link{
    color: black;
    text-decoration: underline overline rgb(129, 97, 97);
}
p {
    margin: 0.3em;
}

#hello {
    text-shadow: 0 0 12px rgb(167, 167, 167);
}

#text {
    text-align: left;
    font-family: cursive;
    text-shadow: 0 0 12px rgb(128, 128, 128);
}

#list {
    text-align: left;
    font-family: cursive;
}

#list .listagem {
    text-shadow: 0 0 12px rgb(128, 128, 128);
}

#list .html {
    text-shadow: 0 0 12px orange;
}

#list .css {
    text-shadow: 0 0 12px rgb(22, 197, 255);
}

#list .js {
    text-shadow: 0 0 12px yellow;
}

#list .python {
    text-shadow: 0 0 12px rgb(0, 255, 34);
}

#list .php {
    text-shadow: 0 0 12px rgb(212, 0, 255);
}

#list .sql {
    text-shadow: 0 0 12px blue
}
#info{
    text-align: left;
    font-family: cursive;
    bottom: 0;
    position: absolute;
    justify-content: left;

}
#left{
    background-color: rgb(250, 249, 243);
}
#right{
    background-color: rgba(255, 251, 241, 0.812);
}
#photo{
    max-width: 300px;
    max-height: auto;
    margin-top: 10%;
}
.circle{
    border-radius: 100px;
}
#robot{
    max-width: 150px;
    max-height: auto;
    position: absolute;
    justify-content: left;
    bottom: 0;
}